#############################
### System
#############################

*.bak
*.swp
*.tmp
*~
.DS_Store
desktop.ini
thumbs.db

#############################
### IDE
#############################

*.code-workspace
*.sublime-project
*.sublime-workspace
.idea
.vscode

#############################
### Node.js
#############################

/coverage
/dist
/node_modules
/npm-debug.log
